{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1 align="center">Electronics</h1>
		</div>
	</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>
	
	<div class="row" style=" padding-top: 50px; ">
    <div class="col-sm-4" ">
    	<h2>Electronics cataogaries</h2>
	    	<div style="background-color:pink; text-align: center;">
	    	{% for electronic in electronics %}
				<a href = "{{url_for('showItems', electronic_id = electronic.id)}}">
					<h3 style="padding: 15px; ">{{electronic.name}}</h3>
				</a>
			{% endfor %}
		</div>

		<a href="{{url_for('newElectronic')}}">
				<button class="btn btn-default" id="new-electronic">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add New Electronic
				</button>
		</a>
    </div>
    
    <div class="col-sm-8" style="background-color:#ffff; padding-left: 30px; ">
    	<h2>Items</h2>
    	{% for item in items %}
			<a href = "{{url_for('showOneItem', electronic_id = item.electronic_id, item_id=item.id)}}">
				<h3>{{item.name}}</h3>
			</a>
		{% endfor %}
    </div>

  </div>
{% endblock %}
